@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

*{
  padding: 0%;
  margin: 0%;
  border: transparent;
  font-family: 'Montserrat', sans-serif;
}
#carrouselImage{
  filter: brightness(50%);
  object-fit: cover;
  height: 80vh;
}
.flickity-button:hover{
  background: transparent;
}
.flickity-button{
  background: transparent;
}
.flickity-button-icon {
  fill: transparent;
}
.flickity-page-dots {
  bottom: 25px;
}
.flickity-page-dots .dot {
  width: 13px;
  height: 13px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
.flickity-page-dots .dot.is-selected {
  background: white;
}
#Hello{
  color:white;
  text-align: center;
  position: absolute;
  top: 20vh;
  
}
#Hello h1{
  font-weight: 700;
  line-height: 0.9;
  font-size: 40vh;
}
#MainContent{
  background-color: cornflowerblue;
}
#MainContent p{
  margin:10px 50px;
}
#PostMedia{
  padding:0px 20px;
  width: 100%;
  height: 50vh;
}
